body {
    --bg: #1e1e2e;
    --fg: #cdd6f4;
    --accent: #f5e0dc;
    --blue: #89b4fa;
    --green: #a6e3a1;
    --red: #f38ba8;
    --code-bg-color: #45475a;
    --code-text-color: #f5c2e7;
    --blockquote-bg-color: #313244;
    --blockquote-text-color: #94e2d5;
    --syntax-comment: #5c6370;
    --syntax-punctuation: #abb2bf;
    --syntax-tag: #e06c75;
    --syntax-constant: #d19a66;
    --syntax-string: #98c379;
    --syntax-operator: #56b6c2;
    --syntax-keyword: #c678dd;
    --syntax-function: #61afef
}

body.frappe {
    --bg: #303446;
    --fg: #c6d0f5;
    --accent: #f2d5cf;
    --blue: #8caaee;
    --green: #a6d189;
    --red: #e78284;
    --code-bg-color: #414559;
    --code-text-color: #f4b8e4;
    --blockquote-bg-color: #292c3c;
    --blockquote-text-color: #81c8be;
    --syntax-comment: #737994;
    --syntax-punctuation: #b5bfe2;
    --syntax-tag: #e78284;
    --syntax-constant: #ef9f76;
    --syntax-string: #a6d189;
    --syntax-operator: #8caaee;
    --syntax-keyword: #ca9ee6;
    --syntax-function: #8caaee;
}

body.tokyo-night {
    --bg: #1a1b26;
    --fg: #a9b1d6;
    --accent: #7aa2f7;
    --blue: #7dcfff;
    --green: #9ece6a;
    --red: #f7768e;
    --code-bg-color: #2f3549;
    --code-text-color: #bb9af7;
    --blockquote-bg-color: #16161e;
    --blockquote-text-color: #73daca;
    --syntax-comment: #565f89;
    --syntax-punctuation: #c0caf5;
    --syntax-tag: #f7768e;
    --syntax-constant: #ff9e64;
    --syntax-string: #9ece6a;
    --syntax-operator: #89ddff;
    --syntax-keyword: #bb9af7;
    --syntax-function: #7aa2f7;
}

body.dracula {
    --bg: #282a36;
    --fg: #f8f8f2;
    --accent: #bd93f9;
    --blue: #8be9fd;
    --green: #50fa7b;
    --red: #ff5555;
    --code-bg-color: #44475a;
    --code-text-color: #ff79c6;
    --blockquote-bg-color: #1d1f27;
    --blockquote-text-color: #f1fa8c;
    --syntax-comment: #6272a4;
    --syntax-punctuation: #f8f8f2;
    --syntax-tag: #ff79c6;
    --syntax-constant: #bd93f9;
    --syntax-string: #f1fa8c;
    --syntax-operator: #ff79c6;
    --syntax-keyword: #ff79c6;
    --syntax-function: #50fa7b;
}

body.gruvbox-dark {
    --bg: #282828;
    --fg: #ebdbb2;
    --accent: #d79921;
    --blue: #458588;
    --green: #98971a;
    --red: #cc241d;
    --code-bg-color: #3c3836;
    --code-text-color: #fb4934;
    --blockquote-bg-color: #1d2021;
    --blockquote-text-color: #b8bb26;
    --syntax-comment: #928374;
    --syntax-punctuation: #ebdbb2;
    --syntax-tag: #fb4934;
    --syntax-constant: #d3869b;
    --syntax-string: #b8bb26;
    --syntax-operator: #fe8019;
    --syntax-keyword: #fb4934;
    --syntax-function: #b8bb26;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

a {
    color: var(--blue);
}

.bg-custom {
    background-color: var(--bg);
}

.text-custom {
    color: var(--fg);
}

.border-custom {
    border-color: var(--fg);
}

.shadow-custom {
    box-shadow: 0 1px 3px 0 var(--accent), 0 1px 2px 0 var(--accent);
}

.asciicat-image {
    cursor: pointer;
}

#theme-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 3rem; /* Adjust as needed */
    width: 10rem; /* Adjust as needed */
    background-color: var(--bg);
    border: 1px solid var(--fg);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#theme-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#theme-dropdown li {
    padding: 0.5rem;
    cursor: pointer;
}

#theme-dropdown li:hover {
    background-color: var(--accent);
}

.ascii-cat {
    font-family: monospace;
    white-space: pre;
    line-height: 1;
    font-size: 14px;
    color: var(--accent);
}

.terminal {
    background-color: var(--bg);
    color: var(--fg);
}

.terminal-input {
    display: flex;
    align-items: center;
}

#command-input {
    background-color: var(--bg);
    color: var(--fg);
}

#command-input:focus {
    outline: none;
    box-shadow: none;
    width: 100%;
    min-width: 55ch;
}

.prompt {
    color: var(--green);
    flex-shrink: 0;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--scroll-bar-bg-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scroll-bar-color);
        border-radius: 20px;
        border: 3px solid var(--scroll-bar-bg-color);
    }
